input[type="file"] {
    display: none;
}

button {
  align-items: center;
  justify-content: space-around;
  margin: 2.5%;
  width:45%;
}

.file-select {
  margin-left:2.5%;
  margin-right:2.5%;
  width: 95%;
  text-align: center;
  float:left;
}