<gridster [options]="options" style="background-color:gray">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <div class="gridster-item-content" *ngIf="item.algos">
        <app-algos></app-algos>
      </div>
    </div>
    <div class="button-holder">
      <div class="gridster-item-content" *ngIf="item.fileupload">
        <app-file-upload></app-file-upload>
      </div>
    </div>
    <div class="button-holder">
      <div class="gridster-item-content" *ngIf="item.algodetail">
        <app-algo-detail></app-algo-detail>
      </div>
    </div>
  </gridster-item>
</gridster>